@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

body {
  width: 45%;
  font-family: Indie Flower, cursive;
  // background-image: '/public/Background.jpg';
  text-align: center;
  margin: auto;
  background-color: black;
}

h1 {
color: #ff0000;
margin-left: 100px;
}


.tic {
  border: 2px solid white;
/*  border-left-color: transparent;
  border-bottom-color: transparent;
  border-top-color: transparent;*/
  height: 100px;
  width: 35px;
  cursor: pointer;
}

#0.tic.col-4 {
  border-top: none;
  border-left: none;
  padding: 30px;
  font-size: 20px;
}

.row#gameBoard {
  border-bottom-color: red;
}
